<h1>Update "<%= @todo.title %>"</h1>

<p>
  <% if @todo.station == 1 %>
    <a href="/todo_personal">Back</a>
  <% else %>
    <a href="/todo_group">Back</a>
  <% end %>
</p>

<p>
  <form action="/process_todo_update_form/<%= @todo.id %>" method="post">
    To Do:
    <br />

    <input type="text" name="title" placeholder="<%= @todo.title %>" required>
    <br />

    Brief Description:
    <br />
    <input type="text" size="50" name="description" 
    placeholder="<%= @todo.description %>" required>
    <br />

    <% if @todo.station == 2 %>
    Assign To:
    <br />
    <select name="todo_user">
      <option value="" disabled selected hidden>Select a user...</option>
      
      <% User.all.each do |user| %>
        <option value="<%= user.id %>" required
        <%= "selected" if @todo.todo_user == user.id %>>
          <%= user.name %>
        </option>
      <% end %>
      
    </select>
    <br />
    <% else %>
    <% end %> 
    
    <p>
    <input type="submit" value="Update To Do">
    </p>
  </form>
</p>